h1{color:darkblue; font-family:고딕체; font-style:italic;}
h2{color:blue; font-family:굴림체; font-style:bold;}
#h{color:darkblue; font-family:고딕체; font-style:italic;}
.h2{color:red; font-family:궁서체; font-style:bold;}